.UserTabContainer {
    display: flex;
    flex-direction: column;
    color: white;
    border: hsla(0, 0%, 100%, 0.75) solid;
    border-radius: 10px;
    margin: 5px;
}

.UserTabInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
}

.UserTabInfo p {
    margin-top: 10px;
}

.UserTabOption {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 10px;
}

.UserTabOption button {
    color: white;
    background-color: transparent;
    border: hsla(0, 0%, 100%, 0.75) solid;
    border-radius: 10px;
}