body {
    margin: 0;
}

.Sidebar{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 100vh;
    margin: 0;
    border-radius: 0 20px 20px 0;
    background-color: hsla(0, 0%, 40%, 0.75);
    box-shadow: 100px hsl(0, 0%, 0%);
    transition: all ease-in-out 250ms;
}

.Sidebar:hover {
    width: 200px;
}

.Sidebar a {
    color: white;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 28px;
    translate: -200px;
    height: 35px;
    border: hsl(0, 0%, 100%) solid 2px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px hsl(0, 0%, 50%);
    margin: 10px;
    padding: 10px;
    transition: all ease-in-out 250ms;
    cursor: pointer;
}

.Sidebar .sub{
    font-size: 20px;
    height: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.Sidebar:hover a {
    translate: 0px;
}

.Sidebar a:hover {
    background-color: hsl(0, 0%, 20%);
}
