.AccountPage {
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 50%, 75%);
    border: hsla(0, 0%, 100%, 0.75) solid;
    border-radius: 10px;
    padding: 20px; 
    margin: auto;
}

.AccountPage p {
    color: white;
}